registry: ghcr.io
audit-scanner: 
    image: <username>/admission-controller/audit-scanner
controller: 
    image: <username>/admission-controller/controller
policy-server: 
    image: <username>/admission-controller/policy-server
