psp-apparmor:
  url: registry://ghcr.io/kubewarden/policies/psp-apparmor:v0.1.3
psp-capabilities:
  url: registry://ghcr.io/kubewarden/policies/psp-capabilities:v0.1.2
  settings:
    allowed_capabilities: ["*"]
    required_drop_capabilities: ["KILL"]
