insecure_sources:
  - "registry.dev.my-corp.com"
  - "registry-2.dev.my-corp.com:5001"
source_authorities:
  "registry.pre.my-corp.com":
    ca_path: "/path/to/ca.crt"
  "registry-2.pre.my-corp.com:5001":
    ca_path: "/path/to/ca.crt"