
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policies.kubewarden.io
  resources:
  - admissionpolicies
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - policies.kubewarden.io
  resources:
  - admissionpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - policies.kubewarden.io
  resources:
  - admissionpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - policies.kubewarden.io
  resources:
  - clusteradmissionpolicies
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - policies.kubewarden.io
  resources:
  - clusteradmissionpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - policies.kubewarden.io
  resources:
  - clusteradmissionpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - policies.kubewarden.io
  resources:
  - policyservers
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - policies.kubewarden.io
  resources:
  - policyservers/finalizers
  verbs:
  - update
- apiGroups:
  - policies.kubewarden.io
  resources:
  - policyservers/status
  verbs:
  - get
  - patch
  - update
