apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kubewarden-controller-leader-election-role
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kubewarden-controller-manager-namespaced-role
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubewarden-controller-manager-cluster-role
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
rules:
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - create
  - delete
  - list
  - patch
  - watch
- apiGroups:
  - policies.kubewarden.io
  resources:
  - admissionpolicies
  - admissionpolicygroups
  - clusteradmissionpolicies
  - clusteradmissionpolicygroups
  - policyservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policies.kubewarden.io
  resources:
  - admissionpolicies/finalizers
  - admissionpolicygroups/finalizers
  - clusteradmissionpolicies/finalizers
  - clusteradmissionpolicygroups/finalizers
  - policyservers/finalizers
  verbs:
  - update
- apiGroups:
  - policies.kubewarden.io
  resources:
  - admissionpolicies/status
  - admissionpolicygroups/status
  - clusteradmissionpolicies/status
  - clusteradmissionpolicygroups/status
  - policyservers/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubewarden-controller-metrics-reader
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubewarden-controller-proxy-role
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
{{- if eq .Values.auditScanner.serviceAccountName  "audit-scanner" }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: audit-scanner-cluster-role
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
rules:
- apiGroups:
  - policies.kubewarden.io
  resources:
  - clusteradmissionpolicies
  - clusteradmissionpolicygroups
  - admissionpolicies
  - admissionpolicygroups
  - clusteradmissionpolicies/status
  - clusteradmissionpolicygroups/status
  - admissionpolicies/status
  - admissionpolicygroups/status
  - policyservers
  - policyservers/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
    - wgpolicyk8s.io
  resources:
    - policyreports
    - clusterpolicyreports
  verbs:
    - create
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - openreports.io
  resources:
    - reports
    - clusterreports
  verbs:
    - create
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubewarden-controller-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubewarden-controller-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "kubewarden-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubewarden-controller-manager-namespaced-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubewarden-controller-manager-namespaced-role
subjects:
- kind: ServiceAccount
  name: {{ include "kubewarden-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubewarden-controller-manager-cluster-role
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubewarden-controller-manager-cluster-role
subjects:
- kind: ServiceAccount
  name: {{ include "kubewarden-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubewarden-controller-proxy-rolebinding
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubewarden-controller-proxy-role
subjects:
- kind: ServiceAccount
  name: {{ include "kubewarden-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- if eq .Values.auditScanner.serviceAccountName "audit-scanner" }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: audit-scanner-cluster-role-viewer
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: {{ .Values.auditScanner.serviceAccountName }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: audit-scanner-cluster-role
  labels:
    {{- include "kubewarden-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "kubewarden-controller.annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: audit-scanner-cluster-role
subjects:
- kind: ServiceAccount
  name: {{ .Values.auditScanner.serviceAccountName }}
  namespace: {{ .Release.Namespace }}
{{ end }}
