[package]
name = "kwctl"
description = "Tool to manage Kubewarden policies"
version = "0.3.4"
authors = [
        "Kubewarden Developers <kubewarden@suse.de>"
]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
clap = { version = "3.0.15", features = [ "cargo", "env" ] }
clap_complete = "3.1.4"
directories = "4.0.1"
itertools = "0.10.3"
k8s-openapi = { version = "0.15.0", default-features = false, features = ["v1_24"] }
lazy_static = "1.4.0"
mdcat = "0.27.1"
policy-evaluator = { git = "https://github.com/kubewarden/policy-evaluator", tag = "v0.3.5" }
pretty-bytes = "0.2.2"
prettytable-rs = "^0.8"
pulldown-cmark = { version = "0.9.1", default-features = false }
regex = "1"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8.24"
syntect = "4.5.0"
tokio = { version = "^1", features = ["full"] }
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3", features = ["fmt"] }
url = "2.2.2"
validator = { version = "0.15", features = ["derive"] }
walrus = "0.19.0"
wasmparser = "0.85"

[dev-dependencies]
tempfile = "3.3.0"
rstest = "0.13.0"
