name: Update rust-toolchain

on:
  workflow_dispatch:
  schedule:
    - cron: "30 3 * * 1" # 3:30 on Monday

jobs:
  update-rust-toolchain:
    name: Update Rust toolchain
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@5ca36367fadc6ad94d590984fd9c696e783ec635 # v2.96.0

      - name: Update rust version inside of rust-toolchain file
        id: update_rust_toolchain
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UPDATECLI_GITHUB_OWNER: ${{ github.repository_owner }}
        run: |-
          updatecli apply --config ./updatecli/updatecli.d/update-rust-toolchain.yaml \
                    --values updatecli/values.yaml
