name: CI

on:
  workflow_call:
  push:
    branches:
    - '*'
    tags:
    - 'v*'
  pull_request:
    branches:
    - '*'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - run: make test
