name: Release
on:
  push:
    tags:
      - "v*"

# Declare default permissions as read only.
permissions: read-all

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    permissions: read-all
    with:
      run_all: true

  build-containers:
    name: Build container images
    uses: ./.github/workflows/build-containers.yml
    permissions:
      packages: write
      id-token: write
    with:
      version: ${{ github.ref_name }}

  build-kwctl:
    name: Build kwctl binaries
    uses: ./.github/workflows/build-kwctl.yml
    permissions:
      id-token: write
      attestations: write
    with:
      force_build: true

  attestation:
    name: Generate attestations
    needs: build-containers
    uses: ./.github/workflows/attestation.yml
    permissions:
      packages: write
      id-token: write
    strategy:
      matrix:
        component: [kubewarden-controller, audit-scanner, policy-server]
        arch: [amd64, arm64]
    with:
      component: ${{ matrix.component }}
      arch: ${{ matrix.arch }}

  crds:
    name: Build CRDs
    runs-on: ubuntu-latest
    steps:
      - name: Install Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25"

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate CRDs
        run: |
          make generate-crds
          tar -czf CRDS.tar.gz -C generated-crds $(ls generated-crds)
      - name: Upload CRDs as artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: CRDS
          path: CRDS.tar.gz

  release:
    name: Create release

    needs:
      - ci
      - crds
      - build-containers
      - build-kwctl
      - attestation

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Retrieve tag name
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo TAG_NAME=$(echo ${{ github.ref_name }}) >> $GITHUB_ENV

      - name: Get latest release tag
        id: get_last_release_tag
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            let release = await github.rest.repos.getLatestRelease({
               owner: context.repo.owner,
               repo: context.repo.repo,
            });

            if (release.status  === 200 ) {
              core.setOutput('old_release_tag', release.data.tag_name)
              return
            }
            core.setFailed("Cannot find latest release")

      - name: Get release ID from the release created by release drafter
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            let releases = await github.rest.repos.listReleases({
               owner: context.repo.owner,
               repo: context.repo.repo,
            });
            for (const release of releases.data) {
              if (release.draft) {
                      core.info(release)
                      core.exportVariable('RELEASE_ID', release.id)
                      return
              }
            }
            core.setFailed(`Draft release not found`)

      - name: Download attestation artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: attestation-*
          merge-multiple: true

      - name: Download CRDs artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: CRDS

      - name: Download kwctl artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: kwctl-*
          merge-multiple: false

      - name: Display structure of downloaded files
        run: ls -R

      - name: Upload release assets
        id: upload_release_assets
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            let fs = require('fs');
            let path = require('path');

            let files = [
              'kubewarden-controller-attestation-amd64-provenance.intoto.jsonl',
              'kubewarden-controller-attestation-amd64-provenance.intoto.jsonl.bundle.sigstore',
              'kubewarden-controller-attestation-arm64-provenance.intoto.jsonl',
              'kubewarden-controller-attestation-arm64-provenance.intoto.jsonl.bundle.sigstore',
              'kubewarden-controller-attestation-amd64-sbom.json',
              'kubewarden-controller-attestation-amd64-sbom.json.bundle.sigstore',
              'kubewarden-controller-attestation-arm64-sbom.json',
              'kubewarden-controller-attestation-arm64-sbom.json.bundle.sigstore',
              'audit-scanner-attestation-amd64-provenance.intoto.jsonl',
              'audit-scanner-attestation-amd64-provenance.intoto.jsonl.bundle.sigstore',
              'audit-scanner-attestation-arm64-provenance.intoto.jsonl',
              'audit-scanner-attestation-arm64-provenance.intoto.jsonl.bundle.sigstore',
              'audit-scanner-attestation-amd64-sbom.json',
              'audit-scanner-attestation-amd64-sbom.json.bundle.sigstore',
              'audit-scanner-attestation-arm64-sbom.json',
              'audit-scanner-attestation-arm64-sbom.json.bundle.sigstore',
              'policy-server-attestation-amd64-provenance.intoto.jsonl',
              'policy-server-attestation-amd64-provenance.intoto.jsonl.bundle.sigstore',
              'policy-server-attestation-arm64-provenance.intoto.jsonl',
              'policy-server-attestation-arm64-provenance.intoto.jsonl.bundle.sigstore',
              'policy-server-attestation-amd64-sbom.json',
              'policy-server-attestation-amd64-sbom.json.bundle.sigstore',
              'policy-server-attestation-arm64-sbom.json',
              'policy-server-attestation-arm64-sbom.json.bundle.sigstore',
              './kwctl-airgap-scripts/kubewarden-load-policies.sh',
              './kwctl-airgap-scripts/kubewarden-save-policies.sh',
              './kwctl-darwin-aarch64/kwctl-darwin-aarch64.zip',
              './kwctl-darwin-aarch64-sbom/kwctl-darwin-aarch64-sbom.spdx',
              './kwctl-darwin-aarch64-sbom/kwctl-darwin-aarch64-sbom.spdx.bundle.sigstore',
              './kwctl-darwin-x86_64/kwctl-darwin-x86_64.zip',
              './kwctl-darwin-x86_64-sbom/kwctl-darwin-x86_64-sbom.spdx',
              './kwctl-darwin-x86_64-sbom/kwctl-darwin-x86_64-sbom.spdx.bundle.sigstore',
              './kwctl-linux-aarch64/kwctl-linux-aarch64.zip',
              './kwctl-linux-aarch64-sbom/kwctl-linux-aarch64-sbom.spdx',
              './kwctl-linux-aarch64-sbom/kwctl-linux-aarch64-sbom.spdx.bundle.sigstore',
              './kwctl-linux-x86_64/kwctl-linux-x86_64.zip',
              './kwctl-linux-x86_64-sbom/kwctl-linux-x86_64-sbom.spdx',
              './kwctl-linux-x86_64-sbom/kwctl-linux-x86_64-sbom.spdx.bundle.sigstore',
              './kwctl-windows-x86_64/kwctl-windows-x86_64.exe.zip',
              './kwctl-windows-x86_64-sbom/kwctl-windows-x86_64-sbom.spdx',
              './kwctl-windows-x86_64-sbom/kwctl-windows-x86_64-sbom.spdx.bundle.sigstore',
              "CRDS.tar.gz"]
            const {RELEASE_ID} = process.env

            for (const file of files) {
              let file_data = fs.readFileSync(file);

              let response = await github.rest.repos.uploadReleaseAsset({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: `${RELEASE_ID}`,
                name: path.basename(file),
                data: file_data,
              });
              // store the crds asset id used it in the helm chart update
              if (file === "CRDS.tar.gz") {
                core.setOutput('crds_asset_id', response.data.id)
              }
            }

      - name: Publish release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const {RELEASE_ID} = process.env
            const {TAG_NAME} = process.env
            isPreRelease = ${{ contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta') || contains(github.ref_name, '-rc') }}
            github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: `${RELEASE_ID}`,
              draft: false,
              tag_name: `${TAG_NAME}`,
              name: `${TAG_NAME}`,
              prerelease: isPreRelease,
              make_latest: !isPreRelease
            });

      - name: Trigger chart update
        env:
          GH_TOKEN: ${{ secrets.WORKFLOW_PAT }}
        run: |
          echo '{
            "event_type": "update-chart",
            "client_payload": {
              "version": "${{ github.ref_name }}",
              "oldVersion": "${{ steps.get_last_release_tag.outputs.old_release_tag }}",
              "repository": "${{ github.repository }}",
              "crds_asset_id": "${{ steps.upload_release_assets.outputs.crds_asset_id }}"
            }
          }' > payload.json
          gh api repos/${{ github.repository_owner }}/helm-charts/dispatches \
            -X POST \
            --input payload.json
